%footer#page-footer.bg-body-light
  .content.py-0
    .row.font-size-sm
      .col-sm-6.order-sm-2.mb-1.mb-sm-0.text-center.text-sm-right
        %a.font-w600{:href => "#", :target => "_blank"} lsm
      .col-sm-6.order-sm-1.text-center.text-sm-left
        %a.font-w600{:href => "#", :target => "_blank"} cms
        ©
        %span{"data-toggle" => "year-copy"}