%nav#sidebar{"aria-label" => "Main Navigation"}
  .bg-header-dark
    .content-header.bg-white-10
      %a.font-w600.text-white.tracking-wide{:href => "index.html"}
        %span.smini-visible
          UW
        %span.smini-hidden
          UW
      %div
        %a.d-lg-none.text-white.ml-2{"data-action" => "sidebar_close", "data-toggle" => "layout", :href => "javascript:void(0)"}
          %i.fa.fa-times-circle
  .js-sidebar-scroll
    .content-side
      %ul.nav-main
        %li.nav-main-item
          = link_to '#', class: 'nav-main-link active' do
            %span.nav-main-link-name Overview
        %li.nav-main-item
          = link_to '#', class: 'nav-main-link' do
            %span.nav-main-link-name General Info
        %li.nav-main-item
          = link_to '#', class: 'nav-main-link' do
            %span.nav-main-link-name Contract Details
        %li.nav-main-item
          = link_to '#', class: 'nav-main-link' do
            %span.nav-main-link-name ICRA